@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* font-family: 'Black Han Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

.headerbar {
	background-color: rgba( 31, 31, 41, 0.8 );
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 3;
    top: 0px;
	left: 0px;
	border-bottom:5px solid #e67401;
	/* opacity: 0.85; */
}

.logodiv{
	position: absolute;
    width: 500px;
	margin-left: 50px;
	margin-top: 10px;
	cursor:pointer;
}

.logoimg{
	margin-left:7%;
	width:150px;
	margin-top: -70px;
}

.logospan1{
	font-family: 'Black Han Sans', sans-serif;
	color: #C92923;
	font-size: 40;
	margin-left: -30px;
}

.logospan2{
	font-family: 'Black Han Sans', sans-serif;
	color: white;
	font-size: 70;
}

.navdiv {
	float: left;
	font-size: calc(8px + .3vw);
	width: 35%;
	height: 100%;
	z-index: 2;
}



.headerright {
	float: right;
	margin-top: 0.25rem;
}

#scrolling{
	/* width: 804px; */
	width: 100%;
    /* margin-left: calc(50% - 804px/2); */
    border-radius: 3px;
    /* border: 5px solid; */
    border-left: 3px solid;
    border-right: 3px solid;
    position: absolute;
	background: #E3300B;
	opacity:0.7;
    height: 4rem;
    /* width: 100%; */
    overflow: hidden;
	z-index: 0;
	color: #E3300B;
}
/* @media ( max-width : 804px) {
	#scrolling {
		width: 100%;
	    margin-left: calc(50% - 100%/2);
	}
} */

.logospan{
	font-weight: 600;
    /* font-size: 40px; */
    /* margin-top: 10px; */
    /* z-index: 4; */
    /* z-index: 99; */
    color: white;
    opacity: unset;
	font-size: 32;
	/* font-family: 'Jua', sans-serif; */
	font-family: 'Noto Sans KR', sans-serif;
}

.headerbutton {
    border: 0px;
    color: white;
	margin-right: 50px;
	font-size: 20;
	font-weight: 500;
}

.headerbutton:hover {
    color: white;;
	background-color:#e67401;
}

.headerbutton:active {
    color: white;
	background-color:#e67401 !important;
}
.headerbutton:focus {
    color: white;
	background-color:#e67401 !important;
}

.swiper-pagination-bullet{
	background:#e67401;
}

.dropdown-menu{
	background-color:rgba( 31, 31, 41, 0.5 );
	padding: 0;
}
.dropdown-menu ul {
    background: rgba( 31, 31, 41, 0.5 )
}

.dropdown-menu .dropdown-anchor {
	border: 7px solid rgba( 31, 31, 41, 0.5 )
}

.dropdown-menu .dropdown-anchor::after {
    border: 6px solid rgba( 31, 31, 41, 0.5 )
}

.dropdown-menu ul li > a, .dropdown-menu ul li label
{
	color:white;
}

.dropdown-menu ul li {
    padding: 7;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.headerbuttondiv{
	float: right;
	margin-right: 150px;
	margin-top: 55;
	font-family: 'Noto Sans KR', sans-serif;
	/* font-family: 'Jua', sans-serif; */
}

.slideimg{
	width: 100%; height: auto;
}

@media ( max-width : 1480px) {
	.headerbutton {
		width:unset;
		margin-right: 10px;
		font-size:15px;
	}
	.headerbuttondiv {
		width:unset;
		top:63;
		margin:0px;
		position:absolute;
		left:calc(50% - 395px/2);
	}

	.logodiv{
		position: absolute;
		margin-left: unset;
		margin-top: unset;
    	width: 331px;
		left: calc(50% - 331px/2);
	}
	.logoimg{
		/* position:absolute; */

		margin-left:unset;
		/* width:110px;
		left:calc(50% - 110px/2); */
		margin-top:-44px;
		width:100px;
	}
	.logospan1{
		font-size:30;
	}
	.logospan2{
		font-size:60;
	}
	.slideimg{
		width: auto; height: 100%;
	}
}

.headerbar
{
animation:mymove 3s ease-out forwards;
animation-iteration-count:1;

/* Safari and Chrome */
-webkit-animation:mymove 3s;
-webkit-animation-iteration-count:1;
}

@keyframes mymove
{ from {top:-97px; opacity: 0;}
to {top:0px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {top:-97px; opacity: 0;}
to {top:0px; opacity: 1;}
}

.swipercontentsdiv{
    position: absolute;
    /* width: 70%; */
    /* height: 28%; */
	/* background-color: #32363F; */
	background-color:rgba(50,54,63,0.5);
	top: 60%;
    z-index: 50;
	/* opacity: 0.7; */
	/* max-w idth: 45%; */

	animation:swipercontentsdivmove 3s ease-out forwards;
	animation-iteration-count:1;

/* Safari and Chrome */
	-webkit-animation:swipercontentsdivmove 3s;
	-webkit-animation-iteration-count:1;



	color: #fff;
    text-align: left;
	word-break: keep-all;
	
	padding: 30px;
    height: auto;
    width: auto;

}

@keyframes swipercontentsdivmove
{ from {left:-110%; background-color:rgba(50,54,63,0);}
to {left:0%; background-color:rgba(50,54,63,0.5);}
}

@-webkit-keyframes swipercontentsdivmove /* Safari and Chrome */
{ from {left:-110%; background-color:rgba(50,54,63,0);}
to {left:0%; background-color:rgba(50,54,63,0.5);}
}

@media ( max-width : 1000px) {
	.swipercontentsdiv{
		width:100%;
		max-width:100%;
	}

}

/* a.sweet-modal-close-link{
	background-color:#25272e !important;
} */

@media ( max-width : 700px) {
	.sweet-modal-box.alert{
		width: 90%;
		left:5%;
	}
}

.sweet-modal-overlay {
	background: radial-gradient(at center, rgba(255,255,255,0.1) 0%,
	 rgba(255,255,255,0.9) 100%);
}

.bodys1{
	position: absolute; 
	top: 82%;
	background-color:#1f1f29;
	width:100%;
}

.bodys2{
	position: absolute; 
	top: 100px;
	background-color:#1f1f29;
	width:100%;
}

.bodys1title {
    position: absolute;
    margin-left: unset;
	left: calc(50% - 245px/2);
	font-family: 'Black Han Sans', sans-serif;
	color:white;
}
.owl-carousel .item{
	text-align:center;
}

.swiperword1{
	font-family: 'Black Han Sans', sans-serif;
	/* -webkit-transform: scale(2,1);
    -moz-transform: scale(2,1);
    -ms-transform: scale(2,1);
    -o-transform: scale(2,1);
    transform: scale(1.1,1); */
}

.maincarddeck{
	margin-left: 5px;
	margin-right: 5px;
}

.maincard{
	border: 4px solid #e67401;
	min-height:300px;
}

.maincardtitle{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
}

.maincard_li{
	margin-left: 10px;
	cursor: pointer;
}

.page1carddeck{
	margin-left: unset;
    margin-right: unset;
    padding: 14px;
}

.page1carddiv{
	padding-left:7px;
	padding-right:7px;
	padding-bottom:7px;
	padding-top:7px;
	cursor:pointer;
}
